.container-login>a{
    color: rgb(255,103,0)
}
.container-login a{
    text-decoration: none;
}
.container-login li{
    float: left;
    list-style: none;
}
.container-login{
    position: absolute;
    left: 30px;
    top: 295px;
    width: 350px;
}
.container-login ul{
    float: right;
}
.login-way a{
    color: rgb(102,102,102);
}
.login-way a:hover{
    color: rgb(255,103,0);
}